h1 {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    margin-top: 20px;
    font-size: large;
    font-weight: bold;
}

p {
    font-size: medium;
}

ul {
    list-style-type: circle;
    list-style-position: inside;
}